<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Modal (ion-modal)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Ventana superpuesta para tareas puntuales, sin perder el contexto de la página.</p>

<ion-button id="abrir-modal">Abrir modal</ion-button>
<ion-modal #modal trigger="abrir-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">Contenido del modal.</ion-content>
  </ng-template>
</ion-modal>
</ion-content>
