<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Refresher (ion-refresher)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Gesto de "pull to refresh" para recargar contenido.</p>

<ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-list>
  <ion-item *ngFor="let i of items"><ion-label>{{ i }}</ion-label></ion-item>
</ion-list>
</ion-content>
